/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
  display: none;
}


.hide-when-mobile {
  display: flex;
  justify-content: space-around;
}

/* will apply only for screens less than 800 px */
@media (max-width:800px) {
  .show-when-mobile {
    display: block;
  }
  
  .hide-when-mobile {
    display: none;
  }
  
}